*{
    display: block;
    padding: 5px;
}
books{
    color: white;
    background-color: grey;
}
h1{
    color: red;
    background-color: skyblue;
    font-size: 30px;
    display: block;
    text-align: center;
}

title{
    font-size: 25px;
}